# Built application files and Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Compiled class files
*.class

# Log Files
*.log

# Eclipse Project Files 

.classpath
.project
.settings/ 

# IntelliJ IDEA Files 

*.iml
*.ipr 
*.iws 
*.idea 
/.idea/
/out/